server {
  listen 80;
  client_max_body_size 10M;

  #listen 443 default ssl;
  #ssl_certificate /etc/ssl/certs/### Need path to cert .pem
  #ssl_certificate_key /etc/ssl/private/###path to key .key

  server_name %(domain)s;

  location /static {
    expires max;
    alias %(static-root)s;
  }

  location /media {
    expires max;
    alias %(media-root)s;
  }

  location / {
    include   /etc/nginx/uwsgi_params;
    #uwsgi_pass   unix:/tmp/uwsgi/%(domain)s.sock;
    uwsgi_pass   127.0.0.1:3032;
    uwsgi_param UWSGI_FASTROUTER_KEY $host;
    proxy_set_header X-Forwarded-Protocol $scheme;
    proxy_pass_header Server;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Scheme $scheme;
  }
}

